
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.online table td {
	padding: 0px 10px;
}

#liveChart {
	height: 300px;
}

svg text {
	fill: #C8C8C8;
}

.infoLink:hover {
	color: #FFF;
	text-decoration: underline;
	cursor: pointer;
}

.navbar .brand {
	color: #FF7F0E; /* 76C81B */
}

.blockIcon {
	height: 32px;
	width: 32px;
}