<div class="row-fluid">
	{{#if home}}
		<div class="span6"><h1>HOME</h1>Will write a real intro soon...</div>
		<div class="span6 well news accordion" id="accordionNews"></div>
	{{/if}}
	{{#if stats}}
		<div class="span12">
			<div class="row-fluid" id="stats">
			</div>
			<div class="row-fluid" id="statsGraph">
				<div class="span12" >
					<div class="btn-group">
						<a href="#stats" class="btn btn-mini{{#unless graphTime}} active{{/unless}}">6h</a>
						<a href="#stats/24" class="btn btn-mini{{#compare 24 graphTime operator="=="}} active{{/compare}}">24h</a>
						<a href="#stats/72" class="btn btn-mini{{#compare 72 graphTime operator="=="}} active{{/compare}}">3 days</a>
						<a href="#stats/168" class="btn btn-mini{{#compare 168 graphTime operator="=="}} active{{/compare}}">7 days</a>
					</div>
					<small>Chunks currently show as % assuming 50k chunks is 100%. Player numbers currently show as % assuming 300 players is 100%. Mob numbers currently show as % assuming 5000 mobs is 100%</small>
					<svg style="height: 500px;display:block;width: 100%;"></svg>
				</div>
			</div>
		</div>
	{{/if}}
	{{#if players}}
		<div class="span6 online"></div>
		<div class="span6 search">
			<form class="form-inline">
				<label for="playerSearch">Player search </label> 
				<input type="text" id="playerSearch" class="input-medium search-query" data-provide="type-ahead" class="typeahead" />  
			</form>
		</div>
	{{/if}}
	{{#if bounties}}
		<div class="span12"><h1>Bounties coming soon...</h1></div>
	{{/if}}
	{{#if trade}}
		<div class="span12"><h1>Trade coming soon...</h1></div>
	{{/if}}
	{{#if locations}}
		<div class="span6" id="locations"></div>
	{{/if}}
</div>