<div class="row-fluid">
	{{#if home}}
		<div class="span6 online"></div>
		<div class="span6 graph" id="liveChart"></div>
	{{/if}}
	{{#if players}}
		<div class="span12"><h1>Players coming soon...</h1></div>
	{{/if}}
	{{#if trade}}
		<div class="span12"><h1>Trade coming soon...</h1></div>
	{{/if}}
	{{#if locations}}
		<div class="span12"><h1>Locations coming soon...</h1></div>
	{{/if}}
</div>